@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  header,
  .sidebar {
    background-color: #1e2a38;
  }

  .dropdown-toggle:hover {
    color: #ffffff !important;
  }

  .sidebar {
    width: 250px;
    transition: width 0.3s ease-in-out;
  }

  .sidebar .nav-link,
  .sidebar button {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sidebar .nav-link:hover,
  .sidebar button:hover {
    background-color: #34495e;
    color: white !important;
  }

  .sidebar button:hover{
    background-color: #ffffff71;
  }
  .emoji {
    width: 40px;
    display: flex;
    justify-content: center;
  }

  .sidebar-text {
    display: inline;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 70px;
    }

    .sidebar-text {
      display: none !important;
    }
  }